{% extends "movies/base.html" %}
{% block body %}
<div class="container">
  <div class="page-header">
    <h2>Movies</h2>
  </div>
</div>

{% if all_movies %}
{% load staticfiles %}
<div class="container" id="movieContainer">
      {% for movie in all_movies %}
          <div class="col-xs-18 col-sm-6 col-md-4" id="gallery_card">
              <div class="top" style="background-image: url({% static 'media/imgs/muir.jpg' %});">
              </div>
              <div class="bottom">
                  <div class="nameWrapper">
                      <a class="name" href="#">Contest name</a>
                  </div>
                  <span class="description">
                      A witty Description
                  </span>
              </div>
        </div>
      {% endfor %}
</div><!--/container -->
{% else %}
    <h3> Upload your first movie!</h3>
        [Add link to upload page]
{% endif %}
{% endblock %}




<!--<div class="thumbnail" id="thumbnail">-->
  <!--&lt;!&ndash;&#45;&#45;<a href="{% url 'movies:movie-play' movie.movie_id %}">&#45;&#45;&ndash;&gt;-->
      <!--<img src="{% static 'media/imgs/playbutton.png' %}">-->
  <!--&lt;!&ndash;&#45;&#45;</a>&#45;&#45;&ndash;&gt;-->
  <!--<div class="caption">-->
      <!--<h4><a href="{% url 'movies:detail' movie.movie_id %}"> {{ movie.movie_title }} </a></h4>-->
      <!--<p>{{ movie.movie_description }}</p>-->
<!--</div>-->
<!--</div>-->