body {
    background: white url("media/imgs/background.jpg");
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Mr Dafoe', cursive;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}